@media (min-width: 350px) and (max-width: 990px){
    .register-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        color: #654321;
        font-weight: bold;
    }

    .img-container {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    .img {
        width: 100%;
    }

    .form {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .form-container p {
        text-align: center;
        color: #654321;
    }

    .form button {
        font-size: 15px;
        width: 150px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(252, 208, 156);
        border: 1px solid goldenrod;
        color: #654321;
    }

    .form input {
        width: 200px;
        border-width: 1px;
        border-color: goldenrod;
        border-style: solid;
        padding: 10px;
        font-size: 15px;
        background-color: #ffe4c4;
        color: #654321;
        box-shadow: inset 0px 0px 30px 0px rgba(101,67,33,.50);
        font-weight: normal;
        font-family: sans-serif;
    }
    .form input:focus { outline:none; }

    .form label {
        color: #654321;
    }
}