@media(min-width: 350px) and (max-width: 990px) {
  .userPage {
    width: 100%;
    color: #654321;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  .book-list {
    margin: 0 20px 20px 20px;
    width: 80%;
    height: 20vh;
    background-color: rgb(252, 208, 156);
    color: #654321;
    border: 1px solid goldenrod;
    border-radius: 10px;
  }

  .userPage h3 {
    margin: 0;
  }
} ;
