@media(min-width: 350px) and (max-width: 990px) {
  .userPage {
    text-align: center;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    color: #654321;
    font-weight: bold;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    color: #654321;
    font-weight: bold;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .form-login button {
        font-size: 12px;
        width: 130px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(252, 208, 156);
        border: 1px solid goldenrod;
        color: #654321;
  }

  .form-login input {
        width: 150px;
        border-width: 1px;
        border-color: goldenrod;
        border-style: solid;
        padding: 6px;
        font-size: 15px;
        background-color: #ffe4c4;
        color: #654321;
        box-shadow: inset 0px 0px 30px 0px rgba(101,67,33,.50);
        font-weight: normal;
        font-family: sans-serif;
  }
  .form-login input:focus { outline:none; }

  .form-login label {
        font-size: 15px;
        color: #654321;
  }

  .lists-container {
    width: 100%;
    color: #654321;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    text-align: center;
  }

  .book-list {
    text-align: center;
    margin: 0 20px 20px 20px;
    width: 80%;
    height: 20vh;
    background-color: rgb(252, 208, 156);
    color: #654321;
    border: 1px solid goldenrod;
    border-radius: 10px;
  }

  .userPage h3 {
    margin: 0;
  }

  .form-select {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .form-select button {
    font-size: 12px;
    width: 100px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(252, 208, 156);
    border: 1px solid goldenrod;
    color: #654321;
  }

  .form-select input {
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    border-color: goldenrod;
    border-style: solid;
    padding: 2px;
    font-size: 15px;
    background-color: #ffe4c4;
    color: #654321;
    box-shadow: inset 0px 0px 30px 0px rgba(101,67,33,.50);
    font-weight: normal;
    font-family: sans-serif;
  }
  .form-select input:focus { outline:none; }

  .form-select label {
    font-size: 15px;
    color: #654321;
  }
  
}

@media (min-width: 991px) {
  .userPage {
    text-align: center;
    box-shadow: inset 0px 0px 30px 0px rgba(101,67,33,.50);
    width: 70%;
    border: 1px solid goldenrod;
    margin-left: 15%;
    margin-right: 15%;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    color: #654321;
    font-weight: bold;
  }

  .form-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .form-login button {
    font-size: 15px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(252, 208, 156);
    border: 1px solid goldenrod;
    color: #654321;
  }

  .form-login input {
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    border-color: goldenrod;
    border-style: solid;
    padding: 5px;
    font-size: 15px;
    background-color: #ffe4c4;
    color: #654321;
    box-shadow: inset 0px 0px 30px 0px rgba(101,67,33,.50);
    font-weight: normal;
    font-family: sans-serif;
  }
  .form-login input:focus { outline:none; }

  .form-login label {
    font-size: 15px;
    color: #654321;
  }

  .lists-container {
    width: 100%;
    color: #654321;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    text-align: center;
  }
  .book-list {
    margin: 0 20px 20px 20px;
    width: 80%;
    height: 50vh;
    background-color: rgb(252, 208, 156);
    color: #654321;
    border: 1px solid goldenrod;
    border-radius: 10px;
    text-align: center;
  }

  .userPage h3 {
    margin: 0;
  }

  .form-select {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .form-select button {
    font-size: 12px;
    width: 100px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(252, 208, 156);
    border: 1px solid goldenrod;
    color: #654321;
  }

  .form-select input {
    width: 150px;
    border-radius: 5px;
    border-width: 1px;
    border-color: goldenrod;
    border-style: solid;
    padding: 2px;
    font-size: 15px;
    background-color: #ffe4c4;
    color: #654321;
    box-shadow: inset 0px 0px 30px 0px rgba(101,67,33,.50);
    font-weight: normal;
    font-family: sans-serif;
  }
  .form-select input:focus { outline:none; }

  .form-select label {
    font-size: 15px;
    color: #654321;
  }
}
